@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    margin: 0;
    font-family: 'Numans', sans-serif;
}

.video{
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}
.video_media{
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}

.intro{
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    background-image: url(/img/coverr-sunset-on-the-streets-of-auckland-new-zealand-1585913710096.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;


}

.intro:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.3);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 78%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}


.intro_title{
    margin: 0;
    font-size: 45px;
    color: azure ;
    text-align: center;
}


.card{
    height: 420px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.4) !important;
}

.social_icon span{
    font-size: 35px;
    margin-left: 3px;
    color: #003580;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 1px;
    top: 7px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #80ab87;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}



.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

.display-5{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-family: monospace;
    font-weight: 400;
}




